# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Env
.env*

# Editor directories and files
.vscode/
.idea/
*.swp

# TypeScript
*.tsbuildinfo

# Misc
coverage/
*.log
